* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'fantasy';
}
.container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color:rgb(155, 225, 244);

}
.row {
    width: 100%;
    padding: 50px 100px;
}
.image-section {
    width: 30%;
    float: left;
}
.image-section img {
    width: 100%;
    height: auto;

}
.content {
    width: 60%;
    float:left;
    margin-left: 50px;

}
.content h1 {
    font-size: 90px;
    letter-spacing: 3px;
    margin-top: -5px;
    color: black;
    margin-left: 160px;
}
.content h2 {
    font-size: 40px;
    font-family:serif ;
    color: black;
    margin-left: 200px;
    margin-top: -5px;
    
}
.content p {
    font-size: 20px;
    font-family: cursive;
    margin-top: 10px;
    margin-left: 170px;
    line-height: 1.5;
}